<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Datetime</td>
            <td>filter</td>
            <td>Ether Address</td>
            <td>IP Address</td>
            <td>Packet count</td>
            <td>Incident ID</td>
         </thead>
{% for row in rows %}
            <tr>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
               <td>{{row[4]}}</td>
               <td>{{row[5]}}</td>	
               <td><a href="/reports/{{row[6]}}">{{row[6]}}</a></td>
            </tr>
{% endfor %}
      </table>
   </body>
</html>
